#####################################################################
## Loki source-to-source configuration file for ifs/phys_ec        ##
#####################################################################
# Defines how to process individual subroutines and how to expand the
# callgraph.

[default]
# Specifies the default behaviour of auto-expanded routines
role = 'kernel'
expand = true
# Suppress module import dependencies to speed up parsing times
enable_imports = false
# By default, replicate source files (for kernels)
replicate = true
# Forces exceptions to be thrown during processing
strict = true
# By default, demote temporary arrays to scalars
demote_locals = true

# Mark certain utility routines to be ignored completely. Unlike
# "blocked" items, these will not show up in the visualisation of the
# callgraph.
disable = [
    'dr_hook', 'abor1', 'abort_surf', 'flush', 'iso_c_binding',
    '*%get_host_data*', '*%get_device_data*',
    'ecphys_surface_type_mod', 'variable_module',
    'field_registry_mod', 'field_variables_mod',
    'field_module', 'field_*_module',
    'state_type_create_device', 'state_type_delete_device',
    'state_type_update_host', 'state_type_update_device',
    '#ellips', '#ini_spec_dist', 'upd_ghgclim', '#fminj',
]

# Prune the tree for these to ensure they are not processed by transformations
block = [
    'parkind1', 'yomhook', 'yom*', 'yoe*', 'fc*_mod',
    'oml_mod', 'mpl_mod', 'mpl_module',
    'mgrids_advection_module', 'atlas_module',
    'spectral_fields*', 'control_vectors*',
    # These calls are removed during loki processing
    'farquhar', 'actkeifs', 'depvel_wsl', 'depvel_gc',
    'vdfdifc', 'compo_flux_update', 'aer_dustemis'
]


#####################################################################
##  Define dimensions                                              ##
#####################################################################

[dimensions.horizontal]
  size = 'KLON'
  index = 'JL'
  bounds = ['KIDIA', 'KFDIA']
  aliases = ['NPROMA', 'KDIM%KLON']

[dimensions.vertical]
  size = 'KLEV'
  index = 'JK'

#[dimensions.block_dim]
#  size = 'NGPBLKS'
#  index = 'IBL'
#  aliases = ['YDGEOMETRY%YRDIM%NGPBLKS']

# Define specific transformation settings
[transformations]

[transformations.Idem]
  classname = 'IdemTransformation'
  module = 'loki.transformations'

# Loki-SCC family
# -----------------------------------------
[transformations.SCCVector]
  classname = 'SCCVectorPipeline'
  module = 'loki.transformations.single_column'
[transformations.SCCVector.options]
  horizontal = '%dimensions.horizontal%'
  block_dim = '%dimensions.block_dim%'
  trim_vector_sections = true
  directive = 'openacc'

[transformations.SCCStack]
  classname = 'SCCStackPipeline'
  module = 'loki.transformations.single_column'
[transformations.SCCStack.options]
  horizontal = '%dimensions.horizontal%'
  block_dim = '%dimensions.block_dim%'
  trim_vector_sections = true
  check_bounds = false
  directive = 'openacc'


# Housekeeping and other transformations
# -----------------------------------------
[transformations.RemoveCode]
  classname = 'RemoveCodeTransformation'
  module = 'loki.transformations'
[transformations.RemoveCode.options]
  remove_marked_regions = true
  remove_dead_code = false
  kernel_only = true
  call_names = ['ABOR1', 'DR_HOOK']
  intrinsic_names = ['WRITE(NULOUT']

[transformations.Sanitise]
  classname = 'SanitiseTransformation'
  module = 'loki.transformations'
  options = { resolve_associate_mappings = true }

[transformations.Inline]
  classname = 'InlineTransformation'
  module = 'loki.transformations'
[transformations.Inline.options]
  inline_internals = false
  inline_marked = true
  remove_dead_code = true
  allowed_aliases = 'JL'

[transformations.ModuleWrap]
  classname = 'ModuleWrapTransformation'
  module = 'loki.transformations.build_system'
  options = { module_suffix = '_MOD' }

[transformations.Dependency]
  classname = 'DependencyTransformation'
  module = 'loki.transformations.build_system'
  options = { suffix = '_LOKI', module_suffix = '_MOD' }


# Full transformation pipelines
# -----------------------------------------
[pipelines]

[pipelines.idem]
  transformations = ['Idem', 'ModuleWrap', 'Dependency']

[pipelines.scc]
  transformations = ['RemoveCode', 'Sanitise', 'Inline', 'SCCVector', 'ModuleWrap', 'Dependency']

[pipelines.scc-stack]
  transformations = ['RemoveCode', 'Sanitise', 'Inline', 'SCCStack', 'ModuleWrap', 'Dependency']


#####################################################################
##  Driver routines for the EC_PHYS_FC "core" forecast physics     ##
#####################################################################
# Note that for driver routines, we need to auto-expand the source
# tree and inject the newly generated source into the existing call
# tree by overriding the "replicate" attribute. The latter causes the
# CMake planner to remove the original from the target build.

[routines.cucalln_mf]
  role = 'driver'
  expand = true
  replicate = false


# Dummy these routine for source-inlining
[routines.cloud_supersatcheck]
[routines.cuadjtq]
[routines.cuadjtqs]
[routines.cuentr]
[routines.cubasmcn]

